*.pyc
*.pyc
examples/.ipynb_checkpoints/CIFAR-checkpoint.ipynb
examples/.ipynb_checkpoints/MNIST-checkpoint.ipynb
examples/.ipynb_checkpoints/MNIST-checkpoint.ipynb
examples/.ipynb_checkpoints/CIFAR-Pipeline-Test-checkpoint.ipynb